@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950 flex h-screen w-screen text-gray-900 dark:text-gray-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  nav {
    @apply flex flex-col h-full  border-r border-gray-200 dark:border-zinc-700;
    a {
      @apply mx-4 my-1.5 h-fit flex text-gray-800 dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 capitalize;
      &.active {
        @apply text-gray-400;
      }
    }
    ul {
      @apply w-full list-none not-last:border-b border-gray-200 dark:border-zinc-700;
    }
    li {
      @apply w-full h-fit;
    }
  }

  main {
    @apply flex-1 h-full w-full overflow-y-auto py-4;
    h1 {
      @apply text-2xl font-bold;
    }
    p {
      @apply text-gray-700 dark:text-gray-300;
    }
  }
}
